<html>
<head>
    <!-- Import Styling -->
    <link rel="stylesheet" href="/styles/form.css">
</head>
<body>
    <!-- Header -->
    <h1>Edit Module</h1>
    <!-- If Errors exist display each error as list item -->
    <% if (errors != undefined) {%>
        <ul>
            <% errors.forEach((error) =>{ %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    <% } %>
    <!-- Form to Edit Current Module -->
<section>
    <!-- Form -->
    <form action="/module/edit/<%= module.mid %>" method="POST">
        <!-- Module ID -->
        <div class="row">
            <div class = "col-1">
                <!-- Label -->
                <label>Module ID</label>
            </div>
            <div class = "col-2">
                <!-- Text Input Module ID, readonly -->
                <input type="text" name="mid" value="<%= module.mid %>" readonly/>
            </div>
        </div>

        <!-- Module Name -->
        <div class="row">
            <div class = "col-1">
                <!-- Label -->
                <label>Name</label>
            </div>
            <div class = "col-2">
                <!-- Text Input Module Name -->
                <input type="text" name="name" value="<%= module.name %>"/>
            </div>
        </div>
        
        <!-- Module Credits -->
        <div class="row">
            <div class = "col-1">
                <!-- Label -->
                <label>Credits</label>
            </div>
            <div class = "col-2">
                <!-- Text Input Module Credits -->
                <input type="text" name="credits" value="<%= module.credits %>"/>
            </div>
        </div>
        <div class="row">
            <!--Submit Button -->
            <input type="submit" value="Update" class="buttons"/>
            <!-- Home Button, Redirects to Home Page -->
            <input type="button" value="Home" onclick="location.href='http://localhost:3000/';" class="buttons"/>
        </div>
    </form>
</section>
</body>
</html>