<html>
<head>
    <link href="/styles/tables.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>Modules</h1>
    <br><br>
    <table>
        <tr>
            <th><b>Module ID</b></th>
            <th><b>Name</b></th>
            <th><b>Credits</b></th>
            <th><b>Update</b></th>
            <th><b>Students</b></th>
        </tr>
        <!-- Display Each Module From Module List -->
        <% modules.forEach((m) => { %>
            <tr>
                <td><%= m.mid %></td>
                <td><%= m.name %></td>
                <td><%= m.credits %></td>
                <td><a href="/module/edit/<%= m.mid%>">Update</td>
                <td><a href="/module/students/<%= m.mid%>">List</td>
            </tr>
        <% }) %>
    </table>
    <a href="http://localhost:3000/">Home</a>
</body>
</html>
